#Fundo {
    position: absolute;
    line-height: 4px;
    width: 250px;
    height: 250px;
    border-style: inset;
    border-color: darkviolet;
    border-width: 10px 15px 15px;
    border-radius: 4px;
}

#calculadora {
  position: relative;
  top: 14%;
  text-align: center;
}

option, 
button {
    background:#9932CC;
}
b, p, input{
    color: #9932CC;
}


    